{% extends 'base.html' %}

{% block content %}

<div class="d-flex mx-auto mt-3" style="width:90%; flex-direction:column;">
    <div class="employee-btn">
        <a href="{% url 'empapp:create' %}" class="btn btn-primary">
            <i class="bi bi-plus-circle">Add Employee</i>
        </a>
    </div>

    <div class="table-responsive">
        <table class="table mt-3 table-hover border-primary" style="text-align: center;">
            <thead>
                <tr>
                  <th scope="col">Employee ID</th>
                  <th scope="col">Employee Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Hire Date</th>
                  <th scope="col">Position</th>
                  <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for employee in Employeelist %}
                <tr>
                    <th scope="row">{{ employee.employee_id }}</th>
                    <td>{{ employee.employee_name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>{{ employee.hire_date }}</td>
                    <td>{{ employee.position }}</td>
                    <td>
                        <a href="" class="btn btn-success">
                            <i class="bi bi-info-circle"></i>
                        </i>
                        </a>
                        <a href="{% url 'empapp:update'  pk=employee.pk %}" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a type="button" href="{% url 'empapp:delete' pk=employee.pk %}"   class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    


    <!-- pagination -->
    <nav>
        {% if page_obj.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"  href="?page=1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link"  href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                 <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                 </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %} 
                {% if page_obj.number == i %}

                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                {% endif %}
            {% endfor %}


            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Next</a>
        </li>
        {% endif %}
        </ul>
        {% endif %}
      </nav>
</div>  

{% endblock %}