{% extends 'base.html' %}
{% block content %}

<div class="index-page">
    <div class="container mt-3">
        <div class="employee-btn">
            <button type="button" class="btn btn-primary">
                <i class="bi bi-plus-circle"> Add Employee</i>
            </button>
        </div>
        <table class="table mt-3 table-hover border-primary">
            <thead>
                <tr>
                  <th scope="col">Employee ID</th>
                  <th scope="col">Employee Name</th>
                  <th scope="col">DOB</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Address</th>
                  <th scope="col">Hire Date</th>
                  <th scope="col">Position</th>
                  <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>
                      <button type="button" class="btn btn-warning">
                        <i class="bi bi-pencil-square"></i>
                      </button>
                      <button type="button" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                      </button>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>

{% endblock %}